.courselist-wrapper {
	background: #ccc;
	padding-top: 2%;
}

.list-item {
	padding: 1%;
	background: #ffffff;
	margin-top: 1%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

.more-section {
	margin: 2% 0;
}

.clearfix {
	clear: both;
}