.courselist-wrapper {
	background: #ccc;
	padding-top: 5%;
}

.list-item {
	padding: 1%;
	background: #ffffff;
	margin-top: 1%;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
}

li {
	list-style-type: none;
}