<div class = "search-wrapper">
	<div class = "container">
	  <!-- <form class="navbar-form navbar-left" > -->
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Text to search" id = "inp" value="" #searchInput>
         <!-- <input type="text" class="form-control" placeholder="Text to search" id = "inp" value = "" >  -->
        </div>
        <button class="btn btn-success btn-lg" (click)="onSearchClick(searchInput.value)">Search</button>
      <!-- </form> -->
	</div>
</div>
